$fa-font-path = '../assets/fonts/font-awesome/'
@import '~font-awesome-stylus/lib/font-awesome-stylus/index'


$icon-font-path = '../assets/fonts/bootstrap/'
@import '~bootstrap/dist/css/bootstrap.css'


//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0


[hidden]
  display: none !important
