header#banner.hero-unit
  .container
    img(src='assets/images/sangfor-logo.png', alt="I'm Sangfor")
    hr
    p.lead IAM SELF REGISTER PAGE USING IAM API
br
.container
  form
    label Username
      input.form-control(type='text', [(ngModel)]='user.username', name='username')
    br
    label Password
      input.form-control(type='text', [(ngModel)]='user.password', name='password')
    br
    label ID card
      input.form-control(type='text', [(ngModel)]='user.idCard', name='idCard')
  br
  button.btn.btn-primary(type='submit', (click)='Register()') Register
  br
  p.help-block([hidden]='!user.added')
    | {{message}}
  hr